*.env

backup/
custom_ssl/
**/*.serverpath
**/*.log
**/*.log.*
**/*.crt
**/*.key
**/*.pem
**/*querylog*

# logs and other instance-specific data
minecraft/*/plugins/
apps/adguard/data/
apps/tailscale/state/
data/database/
apps/heimdall/config/log/

# minecraft server volumes
volumes/
!volumes/*/*.yml
!volumes/*/*.properties